/* div{
    outline-color: black;
    outline-width: 1px;
    outline-style: dashed;
}  */

/* 保证缩放的时候，只有工作区会变化，其他按比例焊死大小 */
body,html,#main{
    height:100%; 
    width:100%; 
    overflow:hidden; 
    margin:0;
    padding:0;

}
div{
    user-select: none;
}

/* 导航栏的位置，显色等属性 */
#navigationBar{
    background-color: DarkGray;  
    height:5%;
    width: 100%;
}
/* 工具箱的位置，显色等属性 */
#toolCase{
    background-color: WhiteSmoke; 
    width:10%;
    height: 95%;
    float: left;
    
}
/* 工作区的位置，显色等属性 */
#workarea{
    background-color: white;
    width:80%;
    height: 95%;
    float: left;
    overflow: scroll;
    position: relative;
}
/* 属性区的位置，显色等属性 */
#attributeArea{
    background-color: WhiteSmoke;
    width:10%;
    height: 95%;
    float: left;
}



/* 这个设定一级菜单的每个区域的宽度 */
#navigationBar>div
{
    width: 6vw;
    height: 100%;
    float: left;
}
/* 设定一级菜单的按钮，用div作为一个按钮 */
.nav1Button{
    height: 5vh;
    width: 6vw;
    text-align: center;
    font-size:1vw;
    line-height: 5vh;
    color: white;
    cursor:pointer;
}
.nav1Button:hover{
    background-color: 	DimGray;
}


/* 二级菜单的内容  */
/* 二级菜单的卡片，设置了卡片的宽度大小。 */
.nav1DropContent{
    display: none;  
    position: absolute; 
    background-color:  #f9f9f9;
    width: 8vw;
    box-shadow: 0vh 0.2vw 0.5vh 0.2vw rgba(0,0,0,0.2);
    z-index:2;
}   

/* 二级菜单的按钮*/
.nav2Button{
    height: 4vh;
    font-size:1vw;
    line-height: 4vh;
    padding: 0vh 1vw;
    color: black;
    cursor:pointer;
}
.nav2Button:hover {
    background-color: #f1f1f1;
}
/* 设置二级菜单卡片的自动显示 */
.dropNav1:hover .nav1DropContent {
    display: block;
}

/* 三级菜单，思路和二级菜单差不多，只不过要在右边。 */


.nav3Button{
    height: 4vh;
    font-size:1vw;
    line-height: 4vh;
    padding: 0vh 1vw;
    color: black;
    cursor:pointer
}
.nav3Button:hover {
    background-color: #f1f1f1;
}

.nav2DropContent{
    margin-left: 8vw;
    margin-top:-4vh;
    display: none;  
    position: absolute; 
    background-color:  #f9f9f9;
    width: 8vw;
    box-shadow: 0vh 0.2vw 0.5vh 0.2vw rgba(0,0,0,0.2);
    z-index:2;
}   
.dropNav2:hover .nav2DropContent {
    display: block;
}


/* 右键菜单的样式*/
.rightMenu{
    display: none;  
    position: absolute; 
    background-color:  #f9f9f9;
    min-width: 8vw;
    box-shadow: 0vh 0.2vw 0.5vh 0.2vw rgba(0,0,0,0.2);
    z-index:2;
}

.rmButton{
    height: 4vh;
    font-size:1vw;
    line-height: 4vh;
    padding: 0vh 1vw;
    color: black;
    cursor:pointer;
}

.rmButton:hover {
    background-color: #f1f1f1;
}


/* 工具箱的按钮 */
.toolTitle{
    width: 9.4vw;
    height: 5vh;
    margin: 0.5vh 0.3vw;
    background-color: DarkGray;
    font-size:1.5vw;
    line-height: 5vh;
    text-align: center;
    color:white
}
.toolButton{
    width: 9.4vw;
    height: 5vh;
    margin: 0.5vh 0.3vw;
    background-color: Silver;
    font-size:1.5vw;
    line-height: 5vh;
    text-align: center;
    color:white;
    cursor:pointer;
}

.toolButton:hover{
    background-color: DimGray;
}

.level{
    height: 300px;
    width: 100%;
    border-bottom: 2px dashed black;
    background:rgba(255,255,255,0.5)
}
.levelbar{
    float: left;
    width:100px;
    height: 100%;
    text-align: center;
    border-right: 2px dashed black;
}
.levelbar input{
    width:90px;
    text-align: center;
}

.levelone{
    height: 150px;
    display: flex;
    justify-content: space-around; /*让内容均匀分布在内部*/
    align-items: center; /* 上下均匀分布*/
    overflow:hidden;
}

.rulediv{
    background-color: #d1cbb8;
    border-radius: 10%;
    height: 100px;
    width:100px;
    min-height: 100px;
    min-width:100px; 
    margin: 15px;
    cursor:pointer;
}

.valuediv{
    background-color: #d1cbb8;
    border-radius: 60%;
    height: 100px;
    width:100px;
    min-height: 100px;
    min-width:100px; 
    margin: 15px;
    cursor:pointer;
}

.rulediv div{
    height: 33px;
    width:100%;
    line-height: 33px;
    font-size: 10px;
    
}
.rulediv input{
    width:70%;
    text-align: center;
}

.valuediv div{
    font-size: 30px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    
}
.valuediv input{
    width:70%;
    text-align: center;
    margin: 15px 0px 0px;
}

.addlevel{
    background-color:#d1cbb8;
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 100%;
    line-height: 50px;
}

#workarea label{
    cursor:pointer;
    width: 30%;
}

#lines{
    height:100%;
    width:100%;
    position:absolute;
    pointer-events: none; /* 防止背景阻挡上面的div的点击*/
}

#lines line{
    pointer-events: auto;
}

#innerworkarea{
    width:100%;
    height: 100%;
}

.attrButton input{
    width: 9.4vw;
    height: 2vh;
    font-size: 1.8vh;
}

.attrButton label{
    font-size: 2vh;
}
.attrButton textarea{
    width: 9.4vw;
    font-size: 1.8vh;
}
.dropattr{
    width: 10vw;
}
.dropattr input{
    width: 8.4vw;
    margin-right: 0px;
}

.dropattr div{
    width: 1vw;
    height: 2vh;
    padding: 1px 0px;
    border-width: 1px;
    line-height: 2vh;
    font-size: 2vh;
    color: white;
    text-align: center;
    background-color: DarkGray;
    float: right;
    cursor: pointer;
}

.chooseddiv{
    outline:3px dashed black;
}

.choosedlevel{
    background-color: Silver;
}

.addLineing{
    background-color:DimGray;
}


.ruleBoxName{
    width: 10vw;
    background-color: DarkGray;
    text-align: center;
    color: white;
    font-size:2vh;
    margin: 0.3vh 0vh;
    cursor: pointer;
}
.ruleBoxClass{
    margin: 0.3vh 0vh ;
    width: 10vw;
    font-size:2vh;
    text-align: center;
    color:white;
    background-color: silver;
    cursor: pointer;
}
.ruleBoxClass:hover{
    background-color: DimGray;
}

.ruleBoxRule{
    margin: 0.3vh 0vh ;
    width: 8vw;
    padding: 0vw 1vw;
    font-size:2vh;
    text-align: left;
    cursor: pointer;
    display: none;
}

.ruleBoxRule:hover{
    background-color: DimGray;
}

.ruleBox{
    display: none;
}

#dragBox{
    display: none;
    height: 100px;
    width:100px;
    left: 0px;
    top: 0px;
    border:2px dashed black;
    border-radius: 60%;
    position: absolute;
}

#aLineBetweenNode{
    background-color: #d1cbb8;
    border-radius: 10%;
    height: 100px;
    width:100px;
    display: none;
    position: absolute;
    pointer-events: none;

}

