
/* div{
    outline-color: black;
    outline-width: 1px;
    outline-style: dashed;
} */
body,html{


    height:100%; 
    width:100%; 
    overflow:hidden; 
    margin:0;
    padding:0;

}

#bar{
    display: -webkit-flex;
    display: flex;
    background-color: #d1cbb8;   
    height:5%;
    width: 100%;
}

.interbar{
    outline-color: black;
    outline-width: 1px;
    outline-style: solid;
    width: 5%;
    height: 100%;
    overflow: hidden;  

}

p{
    font-size: 1vw;
    margin: 0;
}
#status{
    text-align: left
}
.interbar p{
    line-height: 100%;
    margin: 15% 0%;
    /* padding: 10% 0%;
    margin: 0px; */

}
.interbar button{
    height: 100%;
    width: 100%;
    font-size:1vw;
}




#tool{
    background-color: #fdf6d3;
    float: left;
    width: 10%;
    height:95%;
}


#toolbar{
    height: 80%;
    width: 100%;
    overflow: auto;
}

#levelbar{
    float: left;
    width: 70px;
}

 
#description{
    height: 20%;
    overflow:auto;
    border-top-color: #d1cbb8;
    border-top-style: solid;
    border-top-width: 1px;
}

#workarea{
    float: left;
    overflow: scroll;
    width:75%;
    height:95%;
}

#desc{
    overflow: scroll;
    height: 95%;
}




.rulemain{
    background-color:#d1cbb8;
    border-color: black;
    border-width:1px;
    border-style: solid;    
    margin: 2%;
    padding: 2%;

}

.rulesecond{
    margin: 2%;
    padding-left: 10%;
    display: none;
    padding: 2%;
}

/* 用来显示一层之间的线 */


.levelnote{
    width:100%;
    height: 299px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 3px;
}

#levelbar p{
    margin: 0;
    font-size: 20px;
    padding-left: 5px;
    padding-top:5px;
    padding-bottom: 5px;
}

#levelbar button{
    height: 40px;
    width:100%;

}

#addlevel{
    background-color:#d1cbb8;
    text-align: center;
}
#addlevel p{
    padding: 0.3vw;
}


.level{ 
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: nowrap;  
    margin: 2px;
    
}


.sonlevel{
    height: 150px;
    display: flex;
    justify-content:center;
}

.rulediv{
    background-color:#d1cbb8;
    border-radius:10%;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: auto;
}

.valuediv{
    background-color:#d1cbb8;
    border-radius:60%;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: auto;
}

.rulediv label{
    font-size: 10px;
    margin: auto;
}
.rulediv div{
    height: 25%;
    width: 100%;
    display: flex;
}


.level input{
    background-color: transparent;
    width:70%;
    margin:auto;
    text-align: center;
    border:0;
}

.level button{
    margin: auto;
}

.level p{
    font-size: 20px;
    margin: auto;
}

#work{
    position: relative;
}
#drawing{
    height:100%;
    width:100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
    
}

.choosed{
    outline-color: "black";
    outline-width: "3px";
    outline-style: "dashed";
}





